framework: net46

source http://nuget.org/api/v2

nuget FSharp.Core 4.2.3
nuget EventStore.Client 3.0.0
nuget Newtonsoft.Json 6.0.5

nuget NUnit ~> 2.0
nuget NUnit.Runners ~> 2.0

github forki/FsUnit FsUnit.fs